<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="enruta.sistole_gen"
    android:installLocation="preferExternal"
    android:versionCode="39"
    android:versionCodeMajor="10100"
    android:versionName="ENGIE CPL (1.1.0)">

    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Globales"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TomaDeLecturas"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="@string/title_activity_toma_de_lecturas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".CamaraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".trasmisionDatos"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VerFotos"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Filtrado"
            android:label="@string/title_activity_filtrado"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Input"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".PantallaAnomalias"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".BuscarMedidor"
            android:label="@string/title_activity_buscar_medidor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".Configuracion"
            android:label="@string/title_activity_configuracion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".Informacion"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NoRegistrados"
            android:label="@string/title_activity_no_registrados"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".trasmisionDatosBt"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CPL"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputCamposGenerico"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".PantallaCodigos"
            android:label="@string/title_activity_pantalla_codigos"/>

        <activity
            android:name=".SupervisorLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>